Django==1.8
django-model-utils==3.1.2
django-quiz-app==0.5.1
filelock==3.0.10
Pillow==5.3.0
pluggy==0.8.0
py==1.7.0
pytz==2018.7
six==1.11.0
toml==0.10.0
tox==3.5.3
virtualenv==16.1.0
django-widget-tweaks==1.4.3