{% load i18n %}
{% load static %}
<!DOCTYPE html>
<head>
<meta charset="utf-8">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>eShala</title>
    <link rel="icon" href="img/pencil.jpg">

    <!-- meta tags for facebook share-->
    <meta property="og:title" content="eShala - learn Anything. Anywhere">
    <meta property="og:description" content="We are on a mission to share Knowledge and change the Learning Process with offering Online education from last mile of India">
    <meta property="og:image" content="https://sinwar.github.io/webeshala/img/wall.jpg">
    <meta property="og:url" content="http://eshala.org">

    <!-- meta tag to detect mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap Core CSS -->

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom Fonts -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="{% static "vendor/simple-line-icons/css/simple-line-icons.css" %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Play|Roboto" rel="stylesheet">
    <link href="{% static "base.css" %}" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body id="page-top">

    <div class="container">
      <div class="row">
        <div class="col-md-4">
            <a href="{% url 'home' %}">
                <img src="{% static "img/eshala_symbol.png" %}" height="50%" width="50%" style="padding: 5%;">
            </a>
        </div>
      </div>
    </div>


    <nav class="navbar">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
          </button>
        </div>
        
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav nav-page">
                <li class="active">
                    <a href="{% url 'quiz_index' %}" id="account_notification" ><i class="fa fa-question-circle-o" style="font-size:20px; margin-right: 7px;"></i> {% trans "QUIZ" %} </a> 
                </li>
                <li>
                    <a href="{% url "listpdf" %}"> <i class="fa fa-file-text-o" style="font-size:20px; margin-right: 7px;"></i> {% trans "PDF" %}</a>
                </li>
                <li>
                    <a href="{% url "apps" %}"> <i class="fa fa-android" style="font-size:20px; margin-right: 7px;"></i> {% trans "APPS" %}</a>
                </li> 
           
                <li>
                    <a href="{% url "videos" %}">  <i class="fa fa-youtube-play" style="font-size:20px; margin-right: 7px;"></i>{% trans "VIDEOS" %}</a>
                </li> 
                <li>
                  <a href="{% url "contact" %}"><i class="fa fa-phone" style="font-size:20px; margin-right: 7px;"></i>{% trans "CONTACT" %}</a>
                </li>
            </ul>
          </div>
        </div>
    </nav>





    <!-- Before the quiz content -->

    <div class="container">

    {% block content %}

    {% endblock %}

    </div>

    <!-- After the quiz content -->


</body>
</html>
