{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Quizzes related to" %} {{ category.category }}{% endblock %}

{% block content %}
<div class="row">
        <div class="col-md-12" style="text-align: center; margin-top: 10%;">
            <button type="button" class="btn btn-defult">{% trans "Quizzes in the" %} <strong>{{ category.category }} </strong>{% trans "category" %}</button>
            <table class="table table-bordered table-striped table-hover" style="margin-top: 5%;">

                  <thead class="thead-light">
                    <tr>
                      <th scope="col" style="text-align: center;">{% trans "Quiz Name" %}</th>
                    </tr>
                  </thead>

                  <tbody>
            
                  {% with object_list as quizzes %}
                    {% if quizzes %}
                        
                        {% for quiz in quizzes %}
                          <tr>
                            <td>
                                <a href="{% url 'quiz_question' quiz_name=quiz.url %}" style="text-transform: capitalize;">
                                  {{ quiz.title }}
                                </a>
                            </td>
                          </tr>
                            
                        {% endfor %}
                        
                    {% else %}
                        <tr>
                            <td>{% trans "There are no quizzes" %}</td>
                        </tr>
                    {% endif %}
                  {% endwith %}
              
            </ul>
        </div>
</div>
{% endblock %}
