.navbar {
  background-color:#5bc0de;
}

.navbar-brand {
	font-weight: bold;
	color: black;
}
.nav-page > li > a {
	color: white;
	font-weight: bold;
}
.nav-page > li > a:hover,
.nav-page > li.active > a{
	background-color: white;
	color: #5bc0de;
	font-weight: bold;
	border-radius: 5px;
	margin: 2px;
}