{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "All Quizzes" %}{% endblock %}

{% block content %}
<div class="row">
		<div class="col-md-12" style="text-align: center; margin-top: 5%;font-family: 'Play', sans-serif;">
			<a href="{% url 'quiz_index' %}" style="color: black;"><button type="button" class="btn btn-info btn-lg">{% trans "QUIZ LIST" %}</button></a>
			<a href="{% url 'quiz_category_list_all' %}" style="color: black;"><button type="button" class="btn btn-default btn-lg">{% trans "CATEGORY LIST" %}</button></a>
			<table class="table table-bordered table-striped table-hover" style="margin-top: 5%;">

				  <thead class="thead-light">
					<tr>
					  <th scope="col" style="text-align: center;">{% trans "Quiz Category" %}</th>
					</tr>
				  </thead>

				  <tbody style="font-size: 15px;">
			
				  {% for cat in category_list %}
			  <tr>
			  	<td>
					<a href="{% url 'quiz_category_list_matching' category_name=cat.category %}" style="text-transform: capitalize;">
					  {{ cat.category }}
					</a>
				</td>
			  </tr>
			  {% endfor %}
			</ul>
		</div>
</div>


{% endblock %}
