{% extends 'base.html' %}

{% load i18n %}
{% block title %}{% trans "All Quizzes" %}{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-md-12" style="text-align: center; margin-top: 5%;font-family: 'Play', sans-serif;">
			<a href="{% url 'quiz_index' %}" style="color: black;"><button type="button" class="btn btn-default btn-lg">{% trans "QUIZ LIST" %}</button></a>
			<a href="{% url 'quiz_category_list_all' %}" style="color: black;"><button type="button" class="btn btn-info btn-lg">{% trans "CATEGORY LIST" %}</button></a>
			
		    {% if quiz_list %}
				<table class="table table-bordered table-striped table-hover" style="margin-top: 5%; text-transform: capitalize;">

				  <thead class="thead-light">
					<tr>
					  <th scope="col" style="text-align: center;">{% trans "TITLE" %}</th>
					  <th scope="col" style="text-align: center;">{% trans "CATEGORY" %}</th>
					  <th scope="col" style="text-align: center;"></th>
					</tr>
				  </thead>

				  <tbody style="font-size: 15px;">

		        {% for quiz in quiz_list %}

		  			<tr>
					  <td>{{ quiz.title }}</td>
					  <td>{{ quiz.category }}</td>
					  <td>
						<a href="{% url 'quiz_start_page' slug=quiz.url %}" >
						  {% trans "Quiz dashboard" %}
						</a>
					</tr>

		        {% endfor %}
				  </tbody>

				</table>

			{% else %}
		        <p>{% trans "There are no available quizzes" %}.</p>
		    {% endif %}
			</div>
	</div>

{% endblock %}
